
/* style.css (Pastaboss) */


html{
	
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	position: absolute;

}

body{
	
	background: -webkit-radial-gradient(#F4F442,#A8A23E);
	background-image: url(images/bkgnd.gif);
	background-size: cover;


	
}



footer h5{

	text-align: center;
	text-decoration: underline;		
}


footer p{
	
	margin: auto;
	padding-bottom: 5%;
	text-align: center;
	font-family: 'Arial Black', sans-serif;
	font-weight: bold;
	font-style: italic;
	text-shadow: 0.08em 0.08em 0.08em #F4F442 , 0.1em 0.1em #000000;
	color: #CD0A0A;
	
}								


footer a span{
	
	margin: auto;
	padding-bottom: 5%;
	text-align: center;
	font-family: 'Arial Black', sans-serif;
	font-weight: bold;
	font-style: italic;
	font-size: 0.4em;

	
}

footer a:hover{
	
			color:#F4F442;
			text-shadow:  0.2em 0.2em 0.2em  #CD0A0A;
}

a{
	
	font-family: 'Bangers' , 'Arial Black' , sans-serif;
	font-weight: 700;
	font-size: 3em;
	text-shadow: 0.05em 0.05em 0.05em #F4F442 , 0.2em 0.2em 0.2em #000000;
	text-decoration: none;
	letter-spacing: 0.05em;
	color: #CD0A0A;
	margin-left: 3%;	
}




form label{
	
	text-align: center;
	font-family: 'Bangers' , 'Arial Black' sans-serif;
	
	
}


														/* id  */
							
 /*navigation*/
   
#nav-bar{
	
   display: none;
   transition: 0.5s;
  
}


#nav-bar ul{
	
	 list-style-type: none;
	 z-index: 1;
	 
	 
}

#nav-bar li{
	
	  padding-bottom: 20px;
	  
}

#nav-bar a{

  transition: 0.3s;

  
}

	
#nav-button a{
	
	cursor: pointer;
	
}

#nav-button a:hover{
	
		text-shadow: 0.05em 0.05em 0.05em #F4F442 , 0.2em 0.2em 0.2em #CD0A0A; 
		color: #ff0000;
	
}


#nav-bar a:hover{
	
		color:#F4F442;
		text-shadow: 0.05em 0.05em 0.05em #F4F442 , 0.2em 0.2em 0.2em #CD0A0A;
	
}

.video-wrapper iframe{
	margin-left: 300px;
	padding: 5%;
	width: 900px;
	height: 600px;
	position: relative;
}


.container{
	
	display: grid;
	grid-template-columns: 1fr  1fr;
}

.grid-container{
			
	width: 50%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin-left: 25%;
	margin-top: 10%;
	position: relative;
			
				
}

.grid-container img{
	
	width: 75%;
	border: 0.1em outset #000000;
	background: #000000;

}

.grid-container img:hover{
	
	box-shadow: 0.1em 0.1em 0.1em #EDFF00 , 0.2em 0.2em 0.2em #F9E70B;
	border: 0.1em solid #F3FC83;
	
}

.fade {
	
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 0.5s;
  
}


 /* media queries */
  
 /*tablet*/ @media screen and ( max-width: 1260px){
 
	#nav-bar ul {
		
			font-size: 0.8em;	display: flex;
			flex-wrap: nowrap;
			 font-size: 0.7em;
			 
		
		}
		
		#nav-bar li{
			padding-left: 25px;
		}

	.video-wrapper iframe{
		margin-left: 200px;
		padding: 5%;
		width: 600px;
		height: 400px;
	}

 }
 
  /*tablet*/ @media screen and ( max-width: 1000px){
	  
	  .video-wrapper iframe{
		margin-left: 100px;
		padding: 5%;
		width: 600px;
		height: 400px;
	}
	  
  }

 /*tablet*/ @media screen and ( max-width: 800px){
 
		#nav-bar a{
			
			font-size:2.3em;
			
		}

		
		#nav-bar ul {
			display: flex;
			flex-wrap: nowrap;
			 font-size: 0.7em;
			 left: 25px;
			bottom: 1200px;			 
		}
		
		#nav-bar li{
			padding-left: 25px;
		}

	
		.video-wrapper iframe{
			margin-left:70px;
			padding: 5%;
			width: 300px;
			height: 200px;
		}
		
		.grid-container{ 
		
		margin-left: 100px;
		}
	
		
 }
 
  
 /*mobile*/ @media screen and ( max-width: 600px){
	 
		body{
	
		 background-repeat:repeat-y;
		 background-color: #F4F442; 
		 background-image:url(images/bkgnd2.gif);
		 background-size: cover;
	
		}
		
	 
		a{
		 
		 font-size: 1.5em;
		
		}

		.video-wrapper	iframe{
		width:300px;
		height:200px;
		left: 20px;
	
		}
		
		.grid-container{ 
		margin-left: 150px;
		}
		
		#nav-bar ul{
			margin-left: 25px;
		}
		
		#nav-bar a{
			
			font-size:1.3em;
			
		}
		
	@media screen and ( max-width: 300px){
		
		#nav-bar ul {
			display: flex;
			flex-wrap: nowrap;
			 font-size: 0.7em;
			 left: 25px;
			bottom: 570px;			 
		}
		
		#nav-bar li{
			padding-left: 25px;
		}
		.video-wrapper	iframe{
		
		width:50px;
		height:70px;
		left: 30px;
		
		}

	 }
       
		
	
 }